.site-header {
  padding: 40px 0;
}

.site-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header__logo {
  display: block;
}

.site-header__logo:hover {
  opacity: 0.8;
}

.site-header__logo:active {
  opacity: 0.6;
}

.site-header__toggler {
  width: 28px;
  height: 23px;
  border: 0;
  padding: 0;
  background-color: transparent;
  background-image: url('../img/menu.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  cursor: pointer;
}

.site-header--open .site-header__toggler {
  position: relative;
  z-index: 5;
  background-image: url('../img/closer.svg');
  width: 22px;
  height: 18px;
}

.site-header--open .site-header__sitenav {
  position: absolute;
  display: block;
  width: 335px;
  z-index: 4;
  overflow: auto;
  animation-name: pastgaTush;
	animation-duration: 1s;
	animation-iteration-count: 1;
  text-align: center;
  background: linear-gradient(111.32deg, #474285 -9.86%, #648CF3 100%);

}

@keyframes pastgaTush {
  from {
    transform: translateY(-190px);
  }

  to {
    transform: translateY(0px);
  }
}


.site-header__sitenav {
  display: none;
}

.sitenav {
  padding: 95px 24px 24px;
}

.sitenav-list {
  padding-top: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sitenav-item {
  margin-top: 20px;
}

.sitenav-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

/* Main */

.category-section {
  padding: 40px 0;
}

.site-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 80px;
  color: #fff;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.item {
  margin-bottom: 30px;
}

.img {
  border-radius: 10px;
}

@media only screen and (min-width: 768px) {

  .site-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 65px;
    line-height: 120px;
    color: #fff;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
  }

  .item {
    margin-bottom: 30px;
  }
}